* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #516dff;
    color: white;
    font-family: 'Press Start 2P', 'sans-serif';
    font-size: 1.6rem;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

a {
    color: #fff;
}

h1 {
    line-height: 1.4;
}

.btn {
    background-color: white;
    border: 0;
    color: #516dff;
    cursor: pointer;
    font-family: inherit;
    padding: 1.5rem 2rem;
}

.btn:hover {
    opacity: .9;
}

.btn:focus {
    outline: 0;
}

.screen {
    display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    height: 100vh;
    width: 100vw;
}

.screen.up {
    margin-top: -100vh;
}

.insects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.insects-list li { 
    margin: 1rem;
}

.choose-insect-btn {
    background-color: transparent;
    border: .2rem solid #fff;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    height: 15rem;
    width: 15rem;
}

.choose-insect-btn:hover {
    background-color: #fff;
    color: #516dff;
}

.choose-insect-btn:active {
    background-color: rgba(255, 255, 255, .7);
}

.choose-insect-btn img {
    height: 10rem;
    object-fit: contain;
    width: 10rem;
}

.game-container {
    position: relative;
}

#time, 
#score {
    position: absolute;
    top: 2rem;
}

#time {
    left: 2rem;
}

#score {
    right: 2rem;
}

.message {
    background-color: rgba(0, 0, 0, .5);
    line-height: 1.7;
    opacity: 0;
    padding: 2rem;
    position: absolute;
        left: 50%;
        top: 0;
    text-align: center;
    transform: translate(-50%, -150%);
    transition: transform .4s ease-in;
    width: 100%;
    z-index: 100;
}

.message.visible {
    transform: translate(-50%, 150%);
    opacity: 1;
}

.insect {
    cursor: pointer;
    display: flex;
        align-items: center;
        justify-content: center;
    height: 10rem;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: transform .3s ease-in-out;
    width: 10rem;
}

.insect.caught {
    transform: translate(-50%, -50%) scale(0);
}

.insect img {
    height: 10rem;
    width: 10rem;
}